#1 {
  display: flex;
  flex-direction: column;
  /* width: 1000px; */
  /* height: 100px; */
  margin: 0px auto;
}
.container {
  display: flex;
  flex-direction: column;
}
.arrow {
  height: 100px;
}
.empty {
  display: flex;
  padding-left: 28%;
  width: 1000px;
  height: 100px;
  margin: 0px auto;
  
}
.text {
  text-transform: uppercase;
  color: #b68410;
  font-size: 25px;
}
.detmir {
  width: 800px;
  background: url(/img/detmir.png) no-repeat;
  height: 788px;
  border: none;
  margin: 0px auto;
}

.detmir:hover {
  background: url(/img/walk.jpg) no-repeat;
  width: 800;
  height: 788;
  border: none;
}

/* ============================  АДАПТИВ   ============================ */
@media(min-width: 0px) and (max-width: 375px) {

  body {
    max-width: 375px;
  }
  .text {
    /* text-align: center; */
    color: #835e08;
    font-size: 16px;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 375px;
  }
  .empty img {
    width: 50px;
    height: 50px;
  }
  .empty {
    display: flex;
    padding-left: 6%;
    /* margin: 0px auto; */
  }

  .detmir {
    background-size: 90%;
    height: 300px;
    border: none;
  }

  .detmir:hover {
    background-size: 90%;
    height: 300px;
    border: none;
  }
 button {
   max-width: 300px
   
 }
}